# Copyright (c) 2019-2019 Adam Karpierz
# Licensed under the MIT License
# https://opensource.org/licenses/MIT

include README.rst
include CHANGES.rst
include LICENSE

graft docs

graft src

graft tests
exclude tests/_info_.txt tests/_report_.txt

global-exclude .build .build.*
global-exclude *.py[cod] __pycache__
