# Copyright (c) 2019 Adam Karpierz
# SPDX-License-Identifier: MIT

include README.rst
include CHANGES.rst
include LICENSE
include pyproject.toml
include .readthedocs.yml

graft docs

graft src

graft tests

global-exclude \#* \#*/**
global-exclude .build .build/** .build.* .build.*/**
global-exclude *.py[cod] __pycache__
