# Copyright (c) 2019-2019 Adam Karpierz
# Licensed under the MIT License
# https://opensource.org/licenses/MIT

include README.rst
include CHANGES.rst
include LICENSE

graft docs

graft src

graft tests

global-exclude .build .build.*
global-exclude *.py[co] __pycache__
